

.footer_main{
    background-color: #1A1D24;
    padding: 1%;
    border-top: 1px solid rgba(255,255,255,0.1);
    /* margin-top: 5%; */
}
.footer_tab{
    display: flex;
    justify-content: space-between;
    color: #999999;
    font-size:  .813rem; 
    padding-top: 3%;
    padding-bottom: 3%;
    
}
.footer_tab>p:hover{
    color:  #F58528;
    cursor: pointer;
}
.footer_last{
    color: #64666B;
    font-size: .75rem;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.footer_icons{
    display: flex;
    justify-content: space-between;
    width: 46%;
    margin: auto;
    padding-bottom: 3%;
    padding-top: 3%;
}
.footer_icons>img:hover{
    cursor: pointer;
    
}